{
    "swagger": "2.0",
    "info": {
        "version": "1.1",
        "title": "Twitter REST API"
    },
    "host": "api.twitter.com",
    "basePath": "/1.1",
    "schemes": [
        "http",
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "oauth": {
            "type": "oauth2",
            "flow": "implicit",
            "authorizationUrl": "https://twitter.com/oauth/authorize/?client_id=CLIENT-ID&redirect_uri=REDIRECT-URI&response_type=token",
            "scopes": {
                "basic": "to read any and all data related to twitter\n"
            }
        }
    },
    "security": [
        {
            "oauth": [
                "basic"
            ]
        }
    ],
    "paths": {
        "/statuses/mentions_timeline": {
            "get": {
                "description": "Returns the 20 most recent mentions for the authenticating user",
                "security": [
                    {
                        "oauth": [
                            "basic"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "count",
                        "in": "query",
                        "description": "Specifies the number of tweets to try and retrieve",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "Returns result with an ID greater than the specified ID",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "description": "Returns results with an ID less than or equal to the specified ID",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "trim_user",
                        "in": "query",
                        "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contributor_details",
                        "in": "query",
                        "description": "This parameter enhances the contributors element of the status response",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "include_entities",
                        "in": "query",
                        "description": "The entities node will be disincluded when set to false",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                            }
                        }
                    }
                }
            }
        },
        "/statuses/user_timeline": {
            "get": {
                "description": "Returns a collection of the most recent Tweets posted by the User",
                "security": [
                    {
                        "oauth": [
                            "basic"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "count",
                        "in": "query",
                        "description": "Specifies the number of tweets to try and retrieve",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "Returns result with an ID greater than the specified ID",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "description": "Returns results with an ID less than or equal to the specified ID",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "trim_user",
                        "in": "query",
                        "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "exclude_replies",
                        "in": "query",
                        "description": "This paramters will prevent from appearing in the returned timeline",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "contributor_details",
                        "in": "query",
                        "description": "This paramters enhances the contributors element of the status response to include the screen_name of the contributor",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "include_rts",
                        "in": "query",
                        "description": "When set to false, the timeline will strip any native retweet",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                            }
                        }
                    }
                }
            }
        },
        "/statuses/home_timeline": {
            "get": {
                "description": "Returns a collection of the most recent Tweets",
                "security": [
                    {
                        "oauth": [
                            "basic"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "Returns result with an ID greater than the specified ID",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "description": "Returns results with an ID less than or equal to the specified ID",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "trim_user",
                        "in": "query",
                        "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "exclude_replies",
                        "in": "query",
                        "description": "This paramters will prevent from appearing in the returned timeline",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "contributor_details",
                        "in": "query",
                        "description": "This paramters enhances the contributors element of the status response to include the screen_name of the contributor",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                            }
                        }
                    }
                }
            }
        },
        "/statuses/retweets/{id}": {
            "post": {
                "description": "Retweens a tweet",
                "security": [
                    {
                        "oauth": [
                            "basic"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The numerical ID of the desired status",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "trim_user",
                        "in": "query",
                        "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "contributors": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/id6c574ea445d66cd93c30fba78cbf2e269ce3bcb2f412f942b1ed4ccb90c24b0c"
                                    }
                                },
                                "coordinates": {
                                    "$ref": "#/definitions/idace78f54dffc51ca9a66416b71d90c714bb4f9fcfe1d7acd3078f417b38fa9e2"
                                },
                                "created_at": {
                                    "type": "string"
                                },
                                "current_user_retweet": {
                                    "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                                },
                                "entities": {
                                    "$ref": "#/definitions/id478f85172862b676b751fe25b3f5c0a7726878dcb67574d93097152429f5b9e9"
                                },
                                "favorite_count": {
                                    "type": "integer"
                                },
                                "favorited": {
                                    "type": "boolean"
                                },
                                "filter_level": {
                                    "type": "string"
                                },
                                "id": {
                                    "type": "integer"
                                },
                                "id_str": {
                                    "type": "string"
                                },
                                "in_reply_to_screen_name": {
                                    "type": "string"
                                },
                                "in_reply_to_status_id": {
                                    "type": "integer"
                                },
                                "in_reply_to_status_id_str": {
                                    "type": "string"
                                },
                                "in_reply_to_user_id": {
                                    "type": "integer"
                                },
                                "in_reply_to_user_id_str": {
                                    "type": "string"
                                },
                                "lang": {
                                    "type": "string"
                                },
                                "place": {
                                    "$ref": "#/definitions/id8794a781e6ecc81540489a7a309438dd75b506ecc92b64155d54a0b62a5be4be"
                                },
                                "possibly_sensitive": {
                                    "type": "boolean"
                                },
                                "quoted_status_id": {
                                    "type": "integer"
                                },
                                "quoted_status_id_str": {
                                    "type": "string"
                                },
                                "quoted_status": {
                                    "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                                },
                                "scopes": {
                                    "type": "object"
                                },
                                "retweet_count": {
                                    "type": "integer"
                                },
                                "retweeted": {
                                    "type": "boolean"
                                },
                                "retweeted_status": {
                                    "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                                },
                                "source": {
                                    "type": "string"
                                },
                                "text": {
                                    "type": "string"
                                },
                                "truncated": {
                                    "type": "string"
                                },
                                "user": {
                                    "$ref": "#/definitions/id886e35cffaece5f8bd24bd30a23cda92b6590c530acc584e6b0fed0601bb783b"
                                },
                                "withheld_copyright": {
                                    "type": "boolean"
                                },
                                "withheld_countries": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "withheld_scope": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/statuses/show/{id}": {
            "get": {
                "description": "Retruns a single Tweet",
                "security": [
                    {
                        "oauth": [
                            "basic"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The numerical ID of the desired status",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "trim_user",
                        "in": "query",
                        "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "include_my_retweet",
                        "in": "query",
                        "description": "When set to either true, t or 1, any Tweets returned that have been retweeted by the authenticating",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "include_entities",
                        "type": "string",
                        "in": "query",
                        "description": "The entities node will be disincluded when set to false",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "contributors": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/id6c574ea445d66cd93c30fba78cbf2e269ce3bcb2f412f942b1ed4ccb90c24b0c"
                                    }
                                },
                                "coordinates": {
                                    "$ref": "#/definitions/idace78f54dffc51ca9a66416b71d90c714bb4f9fcfe1d7acd3078f417b38fa9e2"
                                },
                                "created_at": {
                                    "type": "string"
                                },
                                "current_user_retweet": {
                                    "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                                },
                                "entities": {
                                    "$ref": "#/definitions/id478f85172862b676b751fe25b3f5c0a7726878dcb67574d93097152429f5b9e9"
                                },
                                "favorite_count": {
                                    "type": "integer"
                                },
                                "favorited": {
                                    "type": "boolean"
                                },
                                "filter_level": {
                                    "type": "string"
                                },
                                "id": {
                                    "type": "integer"
                                },
                                "id_str": {
                                    "type": "string"
                                },
                                "in_reply_to_screen_name": {
                                    "type": "string"
                                },
                                "in_reply_to_status_id": {
                                    "type": "integer"
                                },
                                "in_reply_to_status_id_str": {
                                    "type": "string"
                                },
                                "in_reply_to_user_id": {
                                    "type": "integer"
                                },
                                "in_reply_to_user_id_str": {
                                    "type": "string"
                                },
                                "lang": {
                                    "type": "string"
                                },
                                "place": {
                                    "$ref": "#/definitions/id8794a781e6ecc81540489a7a309438dd75b506ecc92b64155d54a0b62a5be4be"
                                },
                                "possibly_sensitive": {
                                    "type": "boolean"
                                },
                                "quoted_status_id": {
                                    "type": "integer"
                                },
                                "quoted_status_id_str": {
                                    "type": "string"
                                },
                                "quoted_status": {
                                    "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                                },
                                "scopes": {
                                    "type": "object"
                                },
                                "retweet_count": {
                                    "type": "integer"
                                },
                                "retweeted": {
                                    "type": "boolean"
                                },
                                "retweeted_status": {
                                    "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                                },
                                "source": {
                                    "type": "string"
                                },
                                "text": {
                                    "type": "string"
                                },
                                "truncated": {
                                    "type": "string"
                                },
                                "user": {
                                    "$ref": "#/definitions/id886e35cffaece5f8bd24bd30a23cda92b6590c530acc584e6b0fed0601bb783b"
                                },
                                "withheld_copyright": {
                                    "type": "boolean"
                                },
                                "withheld_countries": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "withheld_scope": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/statuses/destroy/{id}": {
            "post": {
                "description": "Destroys the status specified by the required ID parameter",
                "security": [
                    {
                        "oauth": [
                            "basic"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The numerical ID of the desired status",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "trim_user",
                        "in": "query",
                        "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "contributors": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/id6c574ea445d66cd93c30fba78cbf2e269ce3bcb2f412f942b1ed4ccb90c24b0c"
                                    }
                                },
                                "coordinates": {
                                    "$ref": "#/definitions/idace78f54dffc51ca9a66416b71d90c714bb4f9fcfe1d7acd3078f417b38fa9e2"
                                },
                                "created_at": {
                                    "type": "string"
                                },
                                "current_user_retweet": {
                                    "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                                },
                                "entities": {
                                    "$ref": "#/definitions/id478f85172862b676b751fe25b3f5c0a7726878dcb67574d93097152429f5b9e9"
                                },
                                "favorite_count": {
                                    "type": "integer"
                                },
                                "favorited": {
                                    "type": "boolean"
                                },
                                "filter_level": {
                                    "type": "string"
                                },
                                "id": {
                                    "type": "integer"
                                },
                                "id_str": {
                                    "type": "string"
                                },
                                "in_reply_to_screen_name": {
                                    "type": "string"
                                },
                                "in_reply_to_status_id": {
                                    "type": "integer"
                                },
                                "in_reply_to_status_id_str": {
                                    "type": "string"
                                },
                                "in_reply_to_user_id": {
                                    "type": "integer"
                                },
                                "in_reply_to_user_id_str": {
                                    "type": "string"
                                },
                                "lang": {
                                    "type": "string"
                                },
                                "place": {
                                    "$ref": "#/definitions/id8794a781e6ecc81540489a7a309438dd75b506ecc92b64155d54a0b62a5be4be"
                                },
                                "possibly_sensitive": {
                                    "type": "boolean"
                                },
                                "quoted_status_id": {
                                    "type": "integer"
                                },
                                "quoted_status_id_str": {
                                    "type": "string"
                                },
                                "quoted_status": {
                                    "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                                },
                                "scopes": {
                                    "type": "object"
                                },
                                "retweet_count": {
                                    "type": "integer"
                                },
                                "retweeted": {
                                    "type": "boolean"
                                },
                                "retweeted_status": {
                                    "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                                },
                                "source": {
                                    "type": "string"
                                },
                                "text": {
                                    "type": "string"
                                },
                                "truncated": {
                                    "type": "string"
                                },
                                "user": {
                                    "$ref": "#/definitions/id886e35cffaece5f8bd24bd30a23cda92b6590c530acc584e6b0fed0601bb783b"
                                },
                                "withheld_copyright": {
                                    "type": "boolean"
                                },
                                "withheld_countries": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "withheld_scope": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/statuses/update": {
            "post": {
                "description": "Updates the authenticating user's status",
                "security": [
                    {
                        "oauth": [
                            "basic"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "The text of your status update",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "in_reply_to_status_id",
                        "in": "query",
                        "description": "The ID of an existing status",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "lat",
                        "in": "query",
                        "description": "The latitude of the location",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "long",
                        "in": "query",
                        "description": "The longitude of the location",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "place_id",
                        "in": "query",
                        "description": "A place in the world",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "display_coordinates",
                        "in": "query",
                        "description": "Whether or not to put a pin on the exact coordinates a tweet",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "trim_user",
                        "in": "query",
                        "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "contributors": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/id6c574ea445d66cd93c30fba78cbf2e269ce3bcb2f412f942b1ed4ccb90c24b0c"
                                    }
                                },
                                "coordinates": {
                                    "$ref": "#/definitions/idace78f54dffc51ca9a66416b71d90c714bb4f9fcfe1d7acd3078f417b38fa9e2"
                                },
                                "created_at": {
                                    "type": "string"
                                },
                                "current_user_retweet": {
                                    "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                                },
                                "entities": {
                                    "$ref": "#/definitions/id478f85172862b676b751fe25b3f5c0a7726878dcb67574d93097152429f5b9e9"
                                },
                                "favorite_count": {
                                    "type": "integer"
                                },
                                "favorited": {
                                    "type": "boolean"
                                },
                                "filter_level": {
                                    "type": "string"
                                },
                                "id": {
                                    "type": "integer"
                                },
                                "id_str": {
                                    "type": "string"
                                },
                                "in_reply_to_screen_name": {
                                    "type": "string"
                                },
                                "in_reply_to_status_id": {
                                    "type": "integer"
                                },
                                "in_reply_to_status_id_str": {
                                    "type": "string"
                                },
                                "in_reply_to_user_id": {
                                    "type": "integer"
                                },
                                "in_reply_to_user_id_str": {
                                    "type": "string"
                                },
                                "lang": {
                                    "type": "string"
                                },
                                "place": {
                                    "$ref": "#/definitions/id8794a781e6ecc81540489a7a309438dd75b506ecc92b64155d54a0b62a5be4be"
                                },
                                "possibly_sensitive": {
                                    "type": "boolean"
                                },
                                "quoted_status_id": {
                                    "type": "integer"
                                },
                                "quoted_status_id_str": {
                                    "type": "string"
                                },
                                "quoted_status": {
                                    "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                                },
                                "scopes": {
                                    "type": "object"
                                },
                                "retweet_count": {
                                    "type": "integer"
                                },
                                "retweeted": {
                                    "type": "boolean"
                                },
                                "retweeted_status": {
                                    "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                                },
                                "source": {
                                    "type": "string"
                                },
                                "text": {
                                    "type": "string"
                                },
                                "truncated": {
                                    "type": "string"
                                },
                                "user": {
                                    "$ref": "#/definitions/id886e35cffaece5f8bd24bd30a23cda92b6590c530acc584e6b0fed0601bb783b"
                                },
                                "withheld_copyright": {
                                    "type": "boolean"
                                },
                                "withheld_countries": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "withheld_scope": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Error"
                    }
                }
            }
        },
        "/statuses/oembed": {
            "get": {
                "description": "Returns information allowing the creation of an embedded representation",
                "security": [
                    {
                        "oauth": [
                            "basic"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "The tweet/status id to return embed code for",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "url",
                        "in": "query",
                        "description": "The encoded URL of the Tweet status to be embedded",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "maxwidth",
                        "in": "query",
                        "description": "The maximum width in pixels that the embed should be rendered at",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "hide_media",
                        "in": "query",
                        "description": "Specifies whether the embedded tweet should automatically show the original message in the case that the embedded Tweet is a reply",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "hide_thread",
                        "in": "query",
                        "description": "Specifies whether the embedded Tweet html should include a 'script' element pointing to widgets.js",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "align",
                        "in": "query",
                        "description": "Specifies whether the embedded Tweet should be left aligned",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "related",
                        "in": "query",
                        "description": "A value for the TWT related parameters",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Languages code for the rendered embed",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "contributors": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/id6c574ea445d66cd93c30fba78cbf2e269ce3bcb2f412f942b1ed4ccb90c24b0c"
                                    }
                                },
                                "coordinates": {
                                    "$ref": "#/definitions/idace78f54dffc51ca9a66416b71d90c714bb4f9fcfe1d7acd3078f417b38fa9e2"
                                },
                                "created_at": {
                                    "type": "string"
                                },
                                "current_user_retweet": {
                                    "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                                },
                                "entities": {
                                    "$ref": "#/definitions/id478f85172862b676b751fe25b3f5c0a7726878dcb67574d93097152429f5b9e9"
                                },
                                "favorite_count": {
                                    "type": "integer"
                                },
                                "favorited": {
                                    "type": "boolean"
                                },
                                "filter_level": {
                                    "type": "string"
                                },
                                "id": {
                                    "type": "integer"
                                },
                                "id_str": {
                                    "type": "string"
                                },
                                "in_reply_to_screen_name": {
                                    "type": "string"
                                },
                                "in_reply_to_status_id": {
                                    "type": "integer"
                                },
                                "in_reply_to_status_id_str": {
                                    "type": "string"
                                },
                                "in_reply_to_user_id": {
                                    "type": "integer"
                                },
                                "in_reply_to_user_id_str": {
                                    "type": "string"
                                },
                                "lang": {
                                    "type": "string"
                                },
                                "place": {
                                    "$ref": "#/definitions/id8794a781e6ecc81540489a7a309438dd75b506ecc92b64155d54a0b62a5be4be"
                                },
                                "possibly_sensitive": {
                                    "type": "boolean"
                                },
                                "quoted_status_id": {
                                    "type": "integer"
                                },
                                "quoted_status_id_str": {
                                    "type": "string"
                                },
                                "quoted_status": {
                                    "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                                },
                                "scopes": {
                                    "type": "object"
                                },
                                "retweet_count": {
                                    "type": "integer"
                                },
                                "retweeted": {
                                    "type": "boolean"
                                },
                                "retweeted_status": {
                                    "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                                },
                                "source": {
                                    "type": "string"
                                },
                                "text": {
                                    "type": "string"
                                },
                                "truncated": {
                                    "type": "string"
                                },
                                "user": {
                                    "$ref": "#/definitions/id886e35cffaece5f8bd24bd30a23cda92b6590c530acc584e6b0fed0601bb783b"
                                },
                                "withheld_copyright": {
                                    "type": "boolean"
                                },
                                "withheld_countries": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "withheld_scope": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/lists/list": {
            "get": {
                "description": "Return all lists the authenticating or specified user subscribes to, including their own.",
                "security": [
                    {
                        "oauth": [
                            "basic"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "screen_name",
                        "in": "query",
                        "description": "The screen name of the user for whom to return results for",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "The ID of the user for whom to return results for",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/idad2b60147c8588ec88d97eaa3340977e97b04c98512aedfa8a059f2c86bbc367"
                            }
                        }
                    }
                }
            }
        },
        "/lists/statuses": {
            "get": {
                "description": "Returns a timeline of tweets authored by memebers of the specified list",
                "security": [
                    {
                        "oauth": [
                            "basic"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "list_id",
                        "in": "query",
                        "description": "The numerical id of the list",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "slug",
                        "in": "query",
                        "description": "You can identify a list by its slug instead of its numerical id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "owner_screen_name",
                        "in": "query",
                        "description": "The screen name of the user who owns the list being requested by a slug",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "owner_id",
                        "in": "query",
                        "description": "The user ID of the user who owns the list being requested by a slug",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "Returns results with an ID greater than the sepcified ID",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "description": "Returns results with an ID less than or equal to the specified ID",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "Specifies the number of results to retrieve per page",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "include_entities",
                        "in": "query",
                        "description": "Entities are ON by default",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "include_rts",
                        "in": "query",
                        "description": "When set to either true, t or 1, the list timeline will contain native retweets in addition to the standard stream of tweets",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                            }
                        }
                    }
                }
            }
        },
        "/lists/members/destroy": {
            "get": {
                "description": "Returns the list of memebers destroy",
                "security": [
                    {
                        "oauth": [
                            "basic"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "list_id",
                        "in": "query",
                        "description": "The numerical id of the list",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "slug",
                        "in": "query",
                        "description": "You can identify a list by its slug instrad of its numerical id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "owner_screen_name",
                        "in": "query",
                        "description": "The screen name of the user who owns the list being requested by a slug",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "The id of the user for whom to remove from the list",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "screen_name",
                        "in": "query",
                        "description": "The screen name of the user for whom to remove from the list",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "owner_id",
                        "in": "query",
                        "description": "The is of the user who wons the list being requested by a slug",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/lists/memberships": {
            "get": {
                "description": "Returns the lists of the specified user has been added to",
                "security": [
                    {
                        "oauth": [
                            "basic"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "The id of the user for whom to return results for",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "screen_name",
                        "in": "query",
                        "description": "The screen name of the user for whom to return results for",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Breaks the results into pages",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "filter_to_owned_lists",
                        "in": "query",
                        "description": "When set to true, t or 1, will return just lists the authenticating user owns",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "previous_cursor": {
                                    "type": "integer"
                                },
                                "lists": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/idad2b60147c8588ec88d97eaa3340977e97b04c98512aedfa8a059f2c86bbc367"
                                    }
                                },
                                "previous_cursor_str": {
                                    "type": "string"
                                },
                                "next_cursor": {
                                    "type": "integer"
                                },
                                "next_cursor_str": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/lists/subscribers": {
            "get": {
                "description": "Returns the subscribers of the specified list",
                "security": [
                    {
                        "oauth": [
                            "basic"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "list_id",
                        "in": "query",
                        "description": "The numerical id of the list",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "slug",
                        "in": "query",
                        "description": "You can identify a list by its slug insted of its numerical id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "owner_screen_name",
                        "in": "query",
                        "description": "the screen name of the user who owns the list being requested by a slug",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "owner_id",
                        "in": "query",
                        "description": "The user ID of the user who owns the list being requested by a slug",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Breaks the results into pages",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "include_entities",
                        "in": "query",
                        "description": "Wehn set to either true, t or 1",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "skip_status",
                        "in": "query",
                        "description": "When set to either true, t or 1",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "previous_cursor": {
                                    "type": "integer"
                                },
                                "lists": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/idad2b60147c8588ec88d97eaa3340977e97b04c98512aedfa8a059f2c86bbc367"
                                    }
                                },
                                "previous_cursor_str": {
                                    "type": "string"
                                },
                                "next_cursor": {
                                    "type": "integer"
                                },
                                "next_cursor_str": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/lists/subscribers/create": {
            "post": {
                "description": "Subscribes the authenticated user to the specified list",
                "security": [
                    {
                        "oauth": [
                            "basic"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "list_id",
                        "in": "query",
                        "description": "The numerical id of the list",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "slug",
                        "in": "query",
                        "description": "You can identify a list being requested by a slug",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "owner_screen_name",
                        "in": "query",
                        "description": "the screen name of the user who owns the list being requested by a slug",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "owner_id",
                        "in": "query",
                        "description": "The user ID of the user who owns the list being requested by a slug",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "created_at": {
                                    "type": "string"
                                },
                                "slug": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "mode": {
                                    "type": "string"
                                },
                                "following": {
                                    "type": "boolean"
                                },
                                "user": {
                                    "$ref": "#/definitions/id886e35cffaece5f8bd24bd30a23cda92b6590c530acc584e6b0fed0601bb783b"
                                },
                                "member_count": {
                                    "type": "integer"
                                },
                                "id_str": {
                                    "type": "string"
                                },
                                "subscriber_count": {
                                    "type": "integer"
                                },
                                "id": {
                                    "type": "integer"
                                },
                                "uri": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/lists/subscribers/show": {
            "get": {
                "description": "Check if the specified user is a subscriber of the specified list",
                "security": [
                    {
                        "oauth": [
                            "basic"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "list_id",
                        "in": "query",
                        "description": "The numerical id of the list",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "slug",
                        "in": "query",
                        "description": "You can identify a list being requested by a slug",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "owner_screen_name",
                        "in": "query",
                        "description": "The screen name of the user who owns the list being requested by a slug",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "The id of the user for whom to remove from the list",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "screen_name",
                        "in": "query",
                        "description": "The screen name of the user for whom to remove from the list",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "owner_id",
                        "in": "query",
                        "description": "The is of the user who wons the list being requested by a slug",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "include_entities",
                        "in": "query",
                        "description": "Wehn set to either true, t or 1",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "skip_status",
                        "in": "query",
                        "description": "When set to either true, t or 1",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "contributors_enabled": {
                                    "type": "boolean"
                                },
                                "created_at": {
                                    "type": "string"
                                },
                                "default_profile": {
                                    "type": "boolean"
                                },
                                "default_profile_image": {
                                    "type": "boolean"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "entities": {
                                    "$ref": "#/definitions/id478f85172862b676b751fe25b3f5c0a7726878dcb67574d93097152429f5b9e9"
                                },
                                "favorites_count": {
                                    "type": "integer"
                                },
                                "follow_request_sent": {
                                    "type": "boolean"
                                },
                                "following": {
                                    "type": "boolean"
                                },
                                "followers_count": {
                                    "type": "integer"
                                },
                                "friends_count": {
                                    "type": "integer"
                                },
                                "geo_enabled": {
                                    "type": "boolean"
                                },
                                "id": {
                                    "type": "integer"
                                },
                                "id_str": {
                                    "type": "string"
                                },
                                "is_translator": {
                                    "type": "boolean"
                                },
                                "lang": {
                                    "type": "string"
                                },
                                "listed_count": {
                                    "type": "integer"
                                },
                                "location": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "notifications": {
                                    "type": "boolean"
                                },
                                "profile_background_color": {
                                    "type": "string"
                                },
                                "profile_background_image_url": {
                                    "type": "string"
                                },
                                "profile_background_image_url_https": {
                                    "type": "string"
                                },
                                "profile_background_tile": {
                                    "type": "string"
                                },
                                "profile_banner_url": {
                                    "type": "string"
                                },
                                "profile_image_url": {
                                    "type": "string"
                                },
                                "profile_image_url_https": {
                                    "type": "string"
                                },
                                "profile_link_color": {
                                    "type": "string"
                                },
                                "profile_sidebar_border_color": {
                                    "type": "string"
                                },
                                "profile_sidebar_fill_color": {
                                    "type": "string"
                                },
                                "profile_text_color": {
                                    "type": "string"
                                },
                                "profile_use_background_image": {
                                    "type": "boolean"
                                },
                                "protected": {
                                    "type": "boolean"
                                },
                                "screen_name": {
                                    "type": "string"
                                },
                                "show_all_inline_media": {
                                    "type": "boolean"
                                },
                                "status": {
                                    "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                                },
                                "statuses_count": {
                                    "type": "integer"
                                },
                                "time_zone": {
                                    "type": "string"
                                },
                                "url": {
                                    "type": "string"
                                },
                                "utc_offset": {
                                    "type": "integer"
                                },
                                "verified": {
                                    "type": "boolean"
                                },
                                "withheld_in_countries": {
                                    "type": "string"
                                },
                                "withheld_scope": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/lists/subscribers/destroy": {
            "get": {
                "description": "Returns list of subscribers destroy",
                "parameters": [
                    {
                        "name": "list_id",
                        "in": "query",
                        "description": "The numerical id of the list",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "slug",
                        "in": "query",
                        "description": "You can identify a list being requested by a slug",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "owner_screen_name",
                        "in": "query",
                        "description": "the screen name of the user who owns the list being requested by a slug",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "owner_id",
                        "in": "query",
                        "description": "The user ID of the user who owns the list being requested by a slug",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/lists/members/create_all": {
            "get": {
                "description": "Returns lists of members create_all",
                "security": [
                    {
                        "oauth": [
                            "basic"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "list_id",
                        "in": "query",
                        "description": "The numerical id of the list",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "slug",
                        "in": "query",
                        "description": "You can identify a list being requested by a slug",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "owner_screen_name",
                        "in": "query",
                        "description": "the screen name of the user who owns the list being requested by a slug",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "owner_id",
                        "in": "query",
                        "description": "The user ID of the user who owns the list being requested by a slug",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "The id of the user for whom to remove from the list",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "screen_name",
                        "in": "query",
                        "description": "The screen name of the user for whom to remove from the list",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/list/members/show": {
            "get": {
                "description": "Check if the specified user is a member of the specified list",
                "security": [
                    {
                        "oauth": [
                            "basic"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "list_id",
                        "in": "query",
                        "description": "The numerical id of the list",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "slug",
                        "in": "query",
                        "description": "You can identify a list being requested by a slug",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "The id of the user for whom to remove from the list",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "screen_name",
                        "in": "query",
                        "description": "The screen name of the user for whom to remove from the list",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "owner_screen_name",
                        "in": "query",
                        "description": "The screen name of the user who owns the list being requested by a slug",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "owner_id",
                        "in": "query",
                        "description": "The user ID of the user who owns the list being requested by a slug",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "include_entities",
                        "in": "query",
                        "description": "Wehn set to either true, t or 1",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "skip_status",
                        "in": "query",
                        "description": "When set to either true, t or 1",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "contributors_enabled": {
                                    "type": "boolean"
                                },
                                "created_at": {
                                    "type": "string"
                                },
                                "default_profile": {
                                    "type": "boolean"
                                },
                                "default_profile_image": {
                                    "type": "boolean"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "entities": {
                                    "$ref": "#/definitions/id478f85172862b676b751fe25b3f5c0a7726878dcb67574d93097152429f5b9e9"
                                },
                                "favorites_count": {
                                    "type": "integer"
                                },
                                "follow_request_sent": {
                                    "type": "boolean"
                                },
                                "following": {
                                    "type": "boolean"
                                },
                                "followers_count": {
                                    "type": "integer"
                                },
                                "friends_count": {
                                    "type": "integer"
                                },
                                "geo_enabled": {
                                    "type": "boolean"
                                },
                                "id": {
                                    "type": "integer"
                                },
                                "id_str": {
                                    "type": "string"
                                },
                                "is_translator": {
                                    "type": "boolean"
                                },
                                "lang": {
                                    "type": "string"
                                },
                                "listed_count": {
                                    "type": "integer"
                                },
                                "location": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "notifications": {
                                    "type": "boolean"
                                },
                                "profile_background_color": {
                                    "type": "string"
                                },
                                "profile_background_image_url": {
                                    "type": "string"
                                },
                                "profile_background_image_url_https": {
                                    "type": "string"
                                },
                                "profile_background_tile": {
                                    "type": "string"
                                },
                                "profile_banner_url": {
                                    "type": "string"
                                },
                                "profile_image_url": {
                                    "type": "string"
                                },
                                "profile_image_url_https": {
                                    "type": "string"
                                },
                                "profile_link_color": {
                                    "type": "string"
                                },
                                "profile_sidebar_border_color": {
                                    "type": "string"
                                },
                                "profile_sidebar_fill_color": {
                                    "type": "string"
                                },
                                "profile_text_color": {
                                    "type": "string"
                                },
                                "profile_use_background_image": {
                                    "type": "boolean"
                                },
                                "protected": {
                                    "type": "boolean"
                                },
                                "screen_name": {
                                    "type": "string"
                                },
                                "show_all_inline_media": {
                                    "type": "boolean"
                                },
                                "status": {
                                    "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                                },
                                "statuses_count": {
                                    "type": "integer"
                                },
                                "time_zone": {
                                    "type": "string"
                                },
                                "url": {
                                    "type": "string"
                                },
                                "utc_offset": {
                                    "type": "integer"
                                },
                                "verified": {
                                    "type": "boolean"
                                },
                                "withheld_in_countries": {
                                    "type": "string"
                                },
                                "withheld_scope": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/list/members": {
            "get": {
                "description": "Returns the members of the specified list",
                "security": [
                    {
                        "oauth": [
                            "basic"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "list_id",
                        "in": "query",
                        "description": "The numerical id of the list",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "slug",
                        "in": "query",
                        "description": "You can identify a list being requested by a slug",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "owner_screen_name",
                        "in": "query",
                        "description": "The screen name of the user who owns the list being requested by a slug",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "owner_id",
                        "in": "query",
                        "description": "The user ID of the user who owns the list being requested by a slug",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "include_entities",
                        "in": "query",
                        "description": "Wehn set to either true, t or 1",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "skip_status",
                        "in": "query",
                        "description": "When set to either true, t or 1",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Breaks the results into pages",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "contributors_enabled": {
                                    "type": "boolean"
                                },
                                "created_at": {
                                    "type": "string"
                                },
                                "default_profile": {
                                    "type": "boolean"
                                },
                                "default_profile_image": {
                                    "type": "boolean"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "entities": {
                                    "$ref": "#/definitions/id478f85172862b676b751fe25b3f5c0a7726878dcb67574d93097152429f5b9e9"
                                },
                                "favorites_count": {
                                    "type": "integer"
                                },
                                "follow_request_sent": {
                                    "type": "boolean"
                                },
                                "following": {
                                    "type": "boolean"
                                },
                                "followers_count": {
                                    "type": "integer"
                                },
                                "friends_count": {
                                    "type": "integer"
                                },
                                "geo_enabled": {
                                    "type": "boolean"
                                },
                                "id": {
                                    "type": "integer"
                                },
                                "id_str": {
                                    "type": "string"
                                },
                                "is_translator": {
                                    "type": "boolean"
                                },
                                "lang": {
                                    "type": "string"
                                },
                                "listed_count": {
                                    "type": "integer"
                                },
                                "location": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "notifications": {
                                    "type": "boolean"
                                },
                                "profile_background_color": {
                                    "type": "string"
                                },
                                "profile_background_image_url": {
                                    "type": "string"
                                },
                                "profile_background_image_url_https": {
                                    "type": "string"
                                },
                                "profile_background_tile": {
                                    "type": "string"
                                },
                                "profile_banner_url": {
                                    "type": "string"
                                },
                                "profile_image_url": {
                                    "type": "string"
                                },
                                "profile_image_url_https": {
                                    "type": "string"
                                },
                                "profile_link_color": {
                                    "type": "string"
                                },
                                "profile_sidebar_border_color": {
                                    "type": "string"
                                },
                                "profile_sidebar_fill_color": {
                                    "type": "string"
                                },
                                "profile_text_color": {
                                    "type": "string"
                                },
                                "profile_use_background_image": {
                                    "type": "boolean"
                                },
                                "protected": {
                                    "type": "boolean"
                                },
                                "screen_name": {
                                    "type": "string"
                                },
                                "show_all_inline_media": {
                                    "type": "boolean"
                                },
                                "status": {
                                    "$ref": "#/definitions/idd9d43a773042a5ab1bf81002e2468a8ee1b4fb5177978b66dbf87281c05e7a8d"
                                },
                                "statuses_count": {
                                    "type": "integer"
                                },
                                "time_zone": {
                                    "type": "string"
                                },
                                "url": {
                                    "type": "string"
                                },
                                "utc_offset": {
                                    "type": "integer"
                                },
                                "verified": {
                                    "type": "boolean"
                                },
                                "withheld_in_countries": {
                                    "type": "string"
                                },
                                "withheld_scope": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/list/members/create": {
            "post": {
                "description": "Returns list of members create",
                "security": [
                    {
                        "oauth": [
                            "basic"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "list_id",
                        "in": "query",
                        "description": "The numerical id of the list",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "slug",
                        "in": "query",
                        "description": "You can identify a list being requested by a slug",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "screen_name",
                        "in": "query",
                        "description": "The screen name of the user for whom to remove from the list",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "owner_screen_name",
                        "in": "query",
                        "description": "The screen name of the user who owns the list being requested by a slug",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "owner_id",
                        "in": "query",
                        "description": "The user ID of the user who owns the list being requested by a slug",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/lists/destroy": {
            "post": {
                "description": "Returns list of destroy",
                "security": [
                    {
                        "oauth": [
                            "basic"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "list_id",
                        "in": "query",
                        "description": "The numerical id of the list",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "slug",
                        "in": "query",
                        "description": "You can identify a list being requested by a slug",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "owner_screen_name",
                        "in": "query",
                        "description": "The screen name of the user who owns the list being requested by a slug",
[...]
